* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
  background-color: #282a35;
  padding: 20px 10px;
}

header a {
  float: left;
  color:rgb(255,255,255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

header .logo {
 height: 50px;
}

header a:hover {
  background-color: rgb(0,0, 0);
  color: rgb(255,255,255);
}

.header-right {
  float: right;
}

#main-logo{
    float: right;
    width: 50%;
    margin-top: 50px;
    margin-right: 50px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 2px 20px 10px rgba(0, 0, 0, .4);
}

#main-logo:hover{
    box-shadow:  0 4px 8px 0  rgb(0,0,139), 0 2px 20px 10px rgb(0,0,139);    
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}