body {font-family: Arial, Helvetica, sans-serif;}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
width: 100%;
background-color: #282a35;
overflow: auto;
}
.navbar .logo {
    height: 38px;
    width: 38px;
    border: 2px solid blueviolet;
    border-radius: 50%;
}

.navbar a {
float: right;
padding: 12px;
color: white;
text-decoration: none;
font-size: 17px;
}

.navbar a:hover {
background-color: #000;
}
.main{
  display: flex;
}
.main .left{
  width: 200px;
  height: 100vh;
  background-color: lightgray;
  margin-right: auto;
}
.main .middle{
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}
.middle h1{
    color: crimson;
}
.main .right{
  width: 200px;
  height: 100vh;
  background-color: lightgray;
  margin-left: auto;
}
.mySlides {display: none}
 .right img {vertical-align: middle;}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}
.active, .dot:hover {
background-color: #717171;
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}
footer{
height: 30px;
width: auto;
background-color: #555;
text-align: center; 
}
.footer_text{
padding-top: 8px;
}
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
@media screen and (max-width: 1107px) {
.navbar a {
float: none;
display: block;
}
.prev, .next {font-size: 11px}
}